@import "tailwindcss";

.navallies {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.navallies::after {
  content: "";
  position: absolute;
  width: 100%;
  border-radius: 99px;
  height: 3px;
  background: #0d47a1;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}
.navallies:hover {
  font-size: 18px;
  color: #000;
}
.navallies:hover::after {
  transform: scaleX(1);
}

.word-red {
  color: #ff0000;
}
.word-orange {
  color: #ff8c00;
}
.word-green {
  color: #32cd32;
}
.word-blue {
  color: #1e90ff;
}

.malabar:hover .tooltip{
opacity: 1;

}